@import url("https://fonts.googleapis.com/css2?family=Madimi+One&family=Outfit:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #333;
  background-color: #f2f2f2;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

header {
  padding: 20px;
  text-align: center;
}

section {
  position: relative;
  border: 2px solid #333;
  border-radius: 6px;
  padding: 40px 10px 10px 10px;
  background-color: #f2f2f2;
  width: 100%;
}

.container {
  margin: 15px;
  display: grid;
  grid-template-areas: "section1 section2 section3";
  grid-gap: 15px;
}

.title {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  border-left: 2px solid #333;
  border-bottom: 2px solid #333;
  color: #fff;
}
.title1 {
  background-color: #42a5f5;
}

.title2 {
  background-color: #ef5350;
}

.title3 {
  background-color: #66bb6a;
}

/* Tablets */
@media (min-width: 768px) and (max-width: 991px) {
    h1{
        font-size: 2.5rem;
    }
  .container {
    grid-template-areas:
      "section1 section2"
      "section3 section3";
  }
  .container section:nth-child(3) {
    grid-area: section3;
  }
}

/* Mobile Phones */
@media (max-width: 767px) {
  h1 {
    font-size: 1.5rem;
  }
  .container {
    grid-template-areas:
      "section1"
      "section2"
      "section3";
  }
}
